* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

nav {
  background-image: url(images/food.png);
  background-position: center;
  background-size: cover;
  display: flex;
  padding: 2% 2%;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 97%;
}

nav img {
  width: 90px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #d5ad7e;
  text-decoration: none;
  font-size: 15px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(237, 228, 209);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

body {
  overflow: hidden;
}

.sign {
  border: 2px thin inset;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 8px rgba(2, 57, 21, 0.84);
  margin: 15px 35px 35px 35px;
  font-size: 17px;
  color: rgb(40, 38, 38);
  padding: 1px 15px 1px 15px;
  text-align: center;
}

.sign h2 {
  margin-top: 10px;
  margin-left: 30px;
  color: rgb(113, 77, 24);
  font-weight: 600;
  text-align: left;
}

.sign h3 {
  margin-left: 30px;
  color: rgb(30, 31, 32);
  font-weight: 550;
  text-align: left;
}

.sign p {
  margin-left: 30px;
  color: rgb(30, 31, 32);
  font-size: 15px;
  text-align: left;
}
.sign p a {
  text-decoration: underline;
}

.image {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  overflow: hidden;
}

.image img {
  margin-top: -10px;
  border-radius: 20px;
  box-shadow: -1px 1px 5px 2px rgba(182, 145, 102, 0.422);
  transition: 0.5s;
}

.i1:hover img {
  background: rgb(213, 173, 126);
  opacity: 0.7;
}

.i2:hover img {
  background: rgb(213, 173, 126);
  opacity: 1;
}
